<h2>{{ videoDetails.name }}</h2>
<div>
  <iframe width="560" height="315" [src]="videoSrc"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
  </iframe>
  <div>
    <ul *ngFor="let recommendation of videoDetails.recommendations">
      <li>
        <div>
          <p>{{ recommendation.creationTime | date: 'yyyy-MM-dd' }}</p>
          <p>
            <span>
              <i *ngIf="recommendation.rating >= 1" class="material-icons">star</i>
              <i *ngIf="recommendation.rating >= 2" class="material-icons">star</i>
              <i *ngIf="recommendation.rating >= 3" class="material-icons">star</i>
              <i *ngIf="recommendation.rating >= 4" class="material-icons">star</i>
              <i *ngIf="recommendation.rating >= 5" class="material-icons">star</i>
          </span>
            {{ recommendation.comment }}
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
